:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.player {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}

h2 {
  color: #333;
}

p {
  margin: 5px 0;
}

.players-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;  /* Space between player components */
  justify-content: space-evenly;
}

/* Optional: Style each player component for a consistent width */
.player {
  flex: 1 1 200px; /* Adjust the 200px to whatever suits your design */
  min-width: 200px; /* Ensure they don’t get too small */
  /* Other styles... */
}

.player-name {
  color: #ffffff;  /* Light color for dark background */
  font-weight: bold;  /* Make the text bold */
  font-size: 1.5em;  /* Increase font size */
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);  /* Optional: Add a subtle shadow for more pop */
}


.player-highlight {
  outline: 4px solid green;
  background-color: #3a3a3a;  
  /* Additional styles for highlighting, if desired */
}

.card {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 5px;
  display: inline-block;
  /* Additional styling as per your design */
}

.board {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 16px;
}

.board-location {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
}
